
/* table {
    
    border-spacing: 0;
}
table th {
    border: 1px solid black;
    
}
table td {
    border: 1px solid black;
   
} */
body {
    background-color: black !important;
    color: goldenrod !important;
}
